<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.tutorialsninja.customlisteners.CustomListeners"/>
    </listeners>
    <test name="testSuite" >
        <classes>
            <class name="com.tutorialsninja.testsuite.TopMenuTest"/>
            <class name="com.tutorialsninja.testsuite.LaptopAndNotebooksTest"/>
            <class name="com.tutorialsninja.testsuite.DesktopTest"/>
            <class name="com.tutorialsninja.testsuite.AccountRegisterTest"/>
            <class name="com.tutorialsninja.testsuite.AccountLoginPageTest"/>

        </classes>
    </test>
</suite>